<div class="container">
    <form action="/books" METHOD="POST" name="">
        <div class="row">

            <div class="three columns">
                <label for="title">Title</label>
                <input id="title" name="title" required type="text">
            </div>
            <div class="three columns">
                <label for="author">Author</label>
                <input id="author" type="text" required name="author">
            </div>
            <div class="three columns">
                <label for="pages">Number of pages</label>
                <input id="pages" min="0" type="number" value="0" name="pages">
            </div>
            <div class="three columns">
                <label for="status">Status </label>
                <select id="status" name="status">
                    <option value=''>- choose -</option>
                    <option value="read">Read</option>
                    <option value="not read">Not read</option>
                </select>

            </div>
        </div>
        <input class="button-primary" id="addBook" type="submit" value="add book">

    </form>
    <hr>

    <h2>Your list contains {{numberOfBooks books.length}}.</h2>
    <table class="u-full-width" style="margin-top: 10%">
        <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Pages</th>
            <th style="text-align: center">Status</th>
            <th style="text-align: center">Edit</th>
            <th style="text-align: center">Action</th>
        </tr>
        </thead>
        <tbody id="table">
        {{#each books}}

            <tr>
                <td>{{this.title}}</td>
                <td>{{this.author}}</td>
                <td>{{this.pages}}</td>
                <td style="text-align: center" class={{isRead this.status}}>{{isRead this.status}}</td>
                <td style="text-align: center">
                    <a class="button" href="/books/edit/{{this.id}}">edit</a>
                </td>
                <td style="text-align: center">
                    <a class="button delete" href="/books/delete/{{this.id}}">delete</a>
                </td>
            </tr>

        {{/each}}
        </tbody>
    </table>

    <a class="button" style="display:{{clearButton books}}" href="/books/delete/all">Clear list</a>
</div>


